@font-face {
	 font-family:'Glyphicons Halflings';
	 src:url(/recursos/fonts/glyphicons-halflings-regular.eot);
	 src:url(/recursos/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
	 url(/recursos/fonts/glyphicons-halflings-regular.woff2) format('woff2'),
	 url(/recursos/fonts/glyphicons-halflings-regular.woff) format('woff'),
	 url(/recursos/fonts/glyphicons-halflings-regular.ttf) format('truetype'),
	 url(/recursos/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
