#menumobSup a {
	display: inline-block;
	padding: 0.25em;
	font-size: 1.1em;
	text-decoration: none;
	position: relative;
}
#menumobSup a:visited,
#menumobSup a:link,
#menumobSup a:active {
	text-decoration: none;
}
#menumobSup ul.accordion > li > .link:before {
    position: absolute;
    left: -1em;
    content: "\eaa0";
    font-family: IcoFont!important;
}
#menumobSup ul {
	padding-left: 2em;
	padding-right: 2em;
}
#menumobSup ul ul{
	display: none;
}
#menumobSup li.ativo ul.ativo {
	display: block;
}
#menumobSup li.ativo > a {
	font-weight: 600;
}
#menumobSup li.ativo > a:before {
	font-weight: 600;
}

@media (max-width: 768px) {
	#menumobSup ul ul a {
		color: #d9d9d9;
	}
	#menumobSup ul ul a:hover {
		color: #FFFFFF;
	}
}
@media (min-width: 768px) {
	#menumobSup ul ul a {
		color: #333333;
		/*text-transform: uppercase;*/
	}
	#menumobSup ul ul ul a {
		color: #9C9FA1;
		text-transform: none;
	}
}
#menumobSup ul ul ul {
	display: block;
}
.menu_n1 {
    padding-left: 0;
}

.menu_n2{
    padding: 0 0 0 20px;
    font-size: 1.1em;
}

.menu_n1:hover {
    background-color: #f0f0f0;
}

#menu_lateral {
    padding-left:0;
} 

#menu_lateral .hidden { 
    display: none; 
    visibility: hidden; 
    opacity: 0; 
}

#menu_lateral .show { 
    display: block; 
    visibility: visible; 
    opacity: 1; 
}

.menu_lateral, .menu_lateral:hover {
    color:#575756;
    text-decoration:none;
    padding: 5px 3px 5px 5px;
    display:block
}

#menu_lateral li {
    display: block;
    transition-duration: 0.5s;
    list-style-type: none !important;
}
   
#menu_lateral li:hover {
    cursor: pointer;
}

#menu_lateral li a:hover {
    background-color: rgba(191, 195, 198, 0.35);
    display: inline-block;
    width: 100%;
}

.submenu {
/*    text-transform: uppercase;
    font-family: "ubuntu condensed";
    font-size: 1.2em;
    color: #575756;*/
}

.submenu .ativo {
    
}

.menu_n1 .submenu {
/*    text-transform:none;
    font-size: 0.88em;
    font-family: ubuntu, arial, sans-serif;*/
}

.unico {
    color: #000;
    text-transform: none;
    font-size: 0.88em;
    font-family: ubuntu, arial, sans-serif;
}

.menu_n1 li.unico {
    padding-left: 14px!important;
}

.menu_n2 li a {
    color:#2465a4;
}

.menu_n2 li.unico {
    padding-left: 0!important;
    color: #2465a4;
}

.submenu .icofont-rounded-down, .submenu .icofont-rounded-right {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    margin-right: 1px;
}

.dropdown .submenu a:before {
      content: "\eaa0";
        font-family: IcoFont!important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        line-height: 1;
        -webkit-font-feature-settings: "liga";
        -webkit-font-smoothing: antialiased;
}

#ativa_menu_mobile { display: none; }

.retornaAnterior { display: none; }

@media only screen and (max-width: 800px) {

    /*#ativa_menu_mobile { display: block; }*/

    /*#menu_lateral { margin-top: -200vh; }*/

    .retornaAnterior { display: block; }

    #menu_lateral.mostra_menu { margin-top: auto !important; }
}

