.clsTituloMobile, .clsFormPesquisaPronta {
	display: none;
}

@media ( max-width : 1510px) {
	.formFixo, .formFixoFiltros, .infoPesquisaFixo, .barraOutrasBasesFixo {
		position: static;
		top: auto;
		width: auto;
		border: none;
	}
	.formFixo .boxFiltro, .formFixoFiltros .boxFiltro {
		width: auto;
		max-width: 100%;
	}
	.infoPesquisaFixo {
		height: auto;
		max-height: 100%;
	}
}

@media ( max-width : 1280px) {
	#idDivSelectFormatoEdicao div.divCell, #idDivSelectFormatoEdicaoAtual div.divCell
		{
		display: inline-block;
	}
	#idDivSelectFormatoEdicao div.divQuebra, #idDivSelectFormatoEdicaoAtual div.divQuebra
		{
		display: block;
	}
	#idDivSelectFormatoEdicao div.divCell label.filler,
		#idDivSelectFormatoEdicaoAtual div.divCell label.filler {
		display: none;
	}
	.clsAjuda li * {
		white-space: normal;
		display: inline;
	}
}

@media ( max-width : 1024px) {
	h2 .wrapHint {
		width: auto;
	}
	.wrapper-form-juris {
		/*overflow: auto;*/
	}
	.wrapper-form-juris>form {
		width: 100%;
		margin: auto;
		max-width: 100%;
	}
	.docTexto, .docTitulo {
		padding: 0.5em 0.25em;
	}
	#idPesquisaAvancada {
		width: 100%;
	}
	#formRefinamento #configuracoesPesquisa>div {
		display: block;
		min-width: 100%;
		padding-bottom: 0.5em;
	}
	#idPesquisaAvancada #configuracoesPesquisa, #idPesquisaAvancada #operadorPadrao
		{
		margin-left: 1em;
	}
	.juris_conectMostrar {
		padding-left: 0 !important;
	}
	.formularioRefinamento #idDivConfiguracoes, .formularioRefinamento #idDivConfiguracoesRef
		{
		left: auto;
		top: 100%;
		right: 0;
	}
	.clsAjuda .divCell {
		display: block;
		padding: 0 !important;;
		text-align: center;
	}
	.clsAjuda .divCell:nth-child(3) {
		text-align: left;
	}
}

@media ( max-width : 992px) {
	#navegacao {
		margin-top: 0.25em;
	}
	#idPesquisaAvancada .formularioDiv, #idPesquisaAvancada .formularioDiv .linhaform,
		#idPesquisaAvancada .formularioDiv .divCell, #idPesquisaAvancada .formularioDiv .linhaform>div
		{
		display: block;
	}
	#idPesquisaAvancada .formularioDiv .linhaform>div.filler {
		display: none;
	}
	#idMostraPesquisaAvancadaRef, #idMostraPesquisaAvancadaRef2,
		#idDivFormBotoesOperadoresAvancada {
	/*	display: none !important;*/
	}
	.divMensagemTutorial {
		margin: auto;
	}
	#corpopaginajurisprudencia.focoPesquisa, #corpopaginajurisprudencia {
		grid-template-columns: 300px auto;
		grid-template-rows: 135px auto;
		grid-template-areas: 'pesquisa pesquisa' 'doc doc';
	}
	.formularioRefinamentoFiltros {
		display: none;
	}
	#corpopaginajurisprudencia.clsCorpoPaginaResultadoPP {
		display: block;
	}
	.focoPesquisa #fechaForm {
		display: none;
	}
	.formularioRefinamento {
		margin-top: 0.5em;
	}
	.navegacaoDocumento {
		margin-right: 1em;
		margin-left: 1em;
	}
	.documentoWrapper {
		padding: 0;
	}
	.listadocumentos, #listaSumulas.listadocumentos {
		max-height: 100%;
		height: fit-content;
		overflow: visible;
	}
	#tabsInformativo ul.ui-tabs-nav li a, #tabsPesquisaPronta ul.ui-tabs-nav li a {
		text-wrap: wrap;
	}
	.div_iconesJuris, .div_iconesJuris2 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	.div_iconesJuris>div:nth-child(1), .div_iconesJuris>div:nth-child(6) {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.div_iconesJuris>div:nth-child(2) {
		grid-column-start: 3;
		grid-column-end: 5;
	}
	.div_iconesJuris>div:nth-child(3) {
		grid-column-start: 5;
		grid-column-end: 7;
	}
	.div_iconesJuris>div:nth-child(4) {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.div_iconesJuris>div:nth-child(5) {
		grid-column-start: 4;
		grid-column-end: 7;
	}
	.div_iconesJuris>div:nth-child(7) {
		grid-column-start: 3;
		grid-column-end: 7;
	}
	.div_iconesJuris>div:nth-child(8) {
		grid-column-start: 1;
		grid-column-end: 7;
	}
	.div_iconesJuris .btn-redondo-link {
		height: auto;
	}
}

@media ( max-width : 860px) {
	.colunaRefinamento {
		display: none;
	}
	.clsFormResponsive {
		display: block;
		margin-bottom: 0.5em;
		border: 1px solid rgba(229, 229, 229, 1);
		padding: 1em;
	}
	.clsFormPesquisaPronta {
		display: block;
		padding-bottom: 0.5em;
	}
	.clsFormPesquisaPronta input[type=text] {
		width: calc(100% - 50px);
		display: inline-block;
		vertical-align: middle;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		padding: 7px 8px;
	}
	.clsFormPesquisaPronta button {
		display: inline-block;
		vertical-align: middle;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		padding: 8px;
	}
	.corpoPaginaPesquisaPronta {
		display: block;
		width: 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.corpoPaginaPesquisaPronta .corpoPaginaResultado {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	#resultadoPesquisa {
		display: block;
		flex: 0 0 100%;
		max-width: 100%;
	}
	#tabsInformativo ul.ui-tabs-nav li a, #tabsPesquisaPronta ul.ui-tabs-nav li a,
		#idNavegaEdicoes a {
		font-size: 12px;
	}
	.col900 {
		width: auto;
	}
	.focoPesquisa #idMostraPesquisaAvancadaRef, .focoPesquisa #idMostrarPesquisaAvancadaRef2
		{
		display: none;
	}
	.corpoPaginaResultado pre, .docTexto pre, .docTexto p, .acoesdocumento a,
		.acoesdocumentoSuce a, .saibaMais {
		font-size: 0.75rem;
	}
	#idListaOutrosProdutos ul {
		border: none;
	}
}

@media ( max-width : 800px) {
	.corpoPaginaResultado {
		margin: 0;
	}
	#formRefinamento .formExpandido {
		max-width: 700px;
	}
	.process-botoes {
		display: none;
	}
	.divJurisprudenciaTematicaLista .divTema, .divTitulo {
		margin-left: 0;
	}
	.divJurisprudenciaTematicaLista .divLinkPesquisa {
		line-height: 1.2em;
		margin: 0;
	}
	.divJurisprudenciaTematicaLista .temas {
		margin: 0;
	}
	.clsFormularioPesquisa #dtde1, .clsFormularioPesquisa #dtde2,
		.clsFormularioPesquisa #dtpb1, .clsFormularioPesquisa #dtpb2 {
		max-width: 45%;
	}
}

@media ( max-width : 768px) {
	#dv_pesquisa_satisfacao .banner_ouvidoria {
		display: none;
	}
	.juris_avisos {
		display: none;
	}
	#navegacao {
		position: static;
		right: 0;
	}
	.clsLinksSumulas {
		display: grid;
		grid-template-columns: 100%;
	}
	.saibaMais a {
		padding-left: 24px;
		background-size: 18px;
		background-position: top left;
	}
	ul#divAjudaJuris {
		padding: 1rem !important;
		margin: 0 !important;
		line-height: 1.5;
	}
	.gridEdicaoJT {
		display: block;
	}
	.gridEdicaoJT .blocoNumSumula, .gridEdicaoJTAtualizada .blocoNumSumula {
		text-align: center;
		margin-top: 0px;
		margin-bottom: 0px;
		width: 100%;
	}
	.gridEdicaoJT .blocoNumSumula a>span {
		display: inline-block;
		width: auto;
		vertical-align: middle;
		margin: 0 0.25em;
		font-size: 19.5px;
		font-weight: bold;
	}
	.clsUltimaEdicao, .clsTodasEdicoes {
    padding: 0.5em;
}
	.divJurisprudenciaTematicaLista .ui-tabs-panel {
		padding: 1em;
	}
}

@media ( max-width : 600px) {
	.clsContainerForm {
		background-color: #F9F9F9;
		padding: 1em;
		border: 1px solid #DDDFE1;
		border-radius: 12px;
		margin: 1em;
	}
	.clsTituloMobile {
		display: block;
	}
	#idMostrarBotoesOperadores, #idMostrarConfiguracoes,
		#idEsconderPesquisaAvancada, #idMostrarPesquisaAvancada,
		#idColTipoPesquisa, #idHintTutorial {
	/*	display: none;*/
	}
	.texto_apresentacao span {
		display: inline-block;
		vertical-align: middle;
		max-width: 65%;
	}
	#idMostrarConfiguracoes .clsLabelMostrar, #idMostrarBotoesOperadores .clsLabelMostrar {
		display: none;
	}
	.clsFormularioPesquisa .form-group .icofont-question,
	#idConjuntoCamposLegislacao .icofont-question {
		display: none;
	}
	[vw] [vw-access-button] {
		top: 0;
	}
}

@media ( max-width : 576px) {
	#pesquisaLivre {
		font-size: 1.1em;
	}
	#idColTipoPesquisa {
		display: none;
	}
	.div_iconesJuris, .div_iconesJuris2 {
		display: grid;
		grid-template-columns: 100%;
	}
	.div_iconesJuris>div:nth-child(1), .div_iconesJuris>div:nth-child(2),
		.div_iconesJuris>div:nth-child(3), .div_iconesJuris>div:nth-child(4),
		.div_iconesJuris>div:nth-child(5), .div_iconesJuris>div:nth-child(6),
		.div_iconesJuris>div:nth-child(7), .div_iconesJuris>div:nth-child(8) {
		grid-column-start: 1;
		grid-column-end: 1;
	}
	.div_iconesJuris>div {
		min-height: 54px;
		position: relative;
	}
	.div_iconesJuris .btn-redondo-P {
		position: absolute;
		left: 10%;
		top: 0;
		height: 46px;
		width: 80%;
		border-radius: 23px;
		margin: 0;
		background-position: left;
		background-size: contain;
		margin: 4px auto;
	}
	.div_iconesJuris a.btn-redondo-link, .div_iconesJuris a.btn-redondo-link:hover
		{
		position: absolute;
		left: 20%;
		top: calc(50% - 0.75em);
		font-size: 1.5em;
		z-index: 10;
		height: auto;
		color: #FFFFFF;
	}
	#corpopaginajurisprudencia.focoPesquisa, #corpopaginajurisprudencia {
		grid-template-columns: 100%;
		grid-template-areas: 'pesquisa' 'doc';
		grid-template-rows: auto auto;
	}
	div.tabelaSumario {
		column-count: 1;
		-moz-column-count: 1;
		-webkit-column-count: 1;
	}
	.formularioDiv, .linhaform, .linhaform>div {
		display: block;
	}
	.formularioDiv .filler {
		display: none;
	}
	.divJurisprudenciaTematicaFormulario .col-md-12 .formularioDiv .label {
		width: auto;
	}
	.listadocumentos {
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.div_iconesJuris>div, .div_iconesJuris2>div {
		min-width: 100%;
		display: block;
	}
	.divTabela, .divLinha, .divCell {
		display: block;
	}
	#divListaTermosThesaurus .divTabela, #divListaTermosThesaurus .divRow {
		display: block;
	}
	#divListaTermosThesaurus .divTabela .divCell {
		display: inline-block;
		vertical-align: top;
		padding: 0.25em;
	}
	#divListaTermosThesaurus .divTabela .divCell:nth-child(1) {
		display: none;
	}
	#divListaTermosThesaurus .divTabela .divCell:nth-child(2) {
		width: 15%;
		font-weight: bold;
	}
	#divListaTermosThesaurus .divTabela .divCell:nth-child(3) {
		width: 80%;
	}
	#divListaTermoThesaurus {
		width: 100%;
	}
	#idJurisprudenciaThesaurusFormularioBloco .divCell:nth-child(1) {
		text-align: left;
	}
	.pesq_juris {
		padding-left: 1em !important;
		padding-right: 1em !important;
	}
	#idMostrarBotoesOperadores, #idMostrarConfiguracoes,
		#idEsconderPesquisaAvancada, #idMostrarPesquisaAvancada {
		/*display: none;*/
	}
	.barraOutrasBases .tabBase, .barraOutrasBases .tabVazia {
		display: block;
		width: auto;
		padding: 0.25em;
		text-align: left;
	}
	#resultadoPesquisa {
		padding: 0;
	}
	#idListaOutrosProdutos {
		width: 50%;
		border-left: 1px solid rgba(191, 195, 198, 0.8);
	}
	#tabASSUNTOS_RECENTES .divCell, #tabCASOS_NOTORIOS .divCell {
		/*width: auto;*/
		min-width: 80%;
		display: table-cell;
	}
	#tabASSUNTOS_RECENTES .btnNavegacao, #tabCASOS_NOTORIOS .btnNavegacao {
		min-width: 5%;
	}
	#idDivSelectFormatoEdicao div.divCell select.clsInformativoEdicoesCombo
		{
		max-width: 80%;
	}
	#tabsInformativo ul.ui-tabs-nav li a, #tabsPesquisaPronta ul.ui-tabs-nav li a
		{
		font-size: 11px;
	}
	.texto_apresentacao span.iconeInformativoJurisprudencia {
		display: block;
		float: left;
		height: 77px;
		width: 77px;
		border-radius: 50%;
		border: 0;
		outline: 0 none;
		cursor: pointer;
		margin-top: 10px;
		background-position: 14px 12px;
		background-size: 66px 70px;
	}
	.barraOutrasBases {
		display: block;
	}
	.barraOutrasBases .tabBase>a, .barraOutrasBases .tabBase>span,
		.barraOutrasBases .tabVazia>a, .barraOutrasBases .tabVazia>span {
		height: auto;
		display: block;
		padding: 0.5em;
		border-radius: 12px;
		border: 1px solid #DDDFE1;
	}
	#idListaOutrosProdutos {
		width: auto;
		border: none;
		background-color: transparent;
	}
	.boxFiltro {
		margin-bottom: 0.5em;
	}
	.blocoMensagem {
		display: block;
	}
	.blocoMensagem .imagemMensagem {
		display: none;
	}
	.blocoMensagem .corpoMensagem {
		padding: 0.5em;
	}
	.infoPesquisa .col, .infoPesquisa .col-auto {
		width: 100%;
	}
	#navegacao, #navegacao>div {
		display: block;
		width: 100%;
	}
	#navegacao>div:nth-child(2) {
		text-align: right;
	}
	.documentoWrapper {
		background-color: #F9F9F9;
		padding: 1em;
		border: 1px solid #DDDFE1;
		border-radius: 12px;
		margin: 0;
		margin-top: 1em;
	}
	.gridSumula {
		grid-template-columns: 130px 1fr 60px;
		align-items: start;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
	.gridSumula .blocoNumSumula, .gridSumula .blocoIcones, .gridSumula .blockCheck
		{
		align-self: start;
		justify-self: left;
	}
	.gridSumula>div:nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	/*	.gridSumula > div:nth-child(2) {
		grid-column-start: 2;
  		grid-column-end: 5;
  		self-align: left;
	}
	.gridSumula > div:nth-child(3) {
		grid-column-start: 1;
  		grid-column-end: 4;
	}
	.gridSumula > div:nth-child(4) {
	}*/
	.clsInformativoLabel:first-child {
		width: auto;
		max-width: 100%;
	}
	.clsInformativoLabel {
		text-align: center;
	}
	.clsInformativoTexto {
		width: 100%;
		max-width: 100%;
	}
	.clsIdentificaProcesso .divCell {
		border-right: none;
	}
	.saibaMais {
		margin: 0;
	}
	.saibaMais ul {
		padding: 0;
	}
	.clsFormResponsive {
		display: none;
	}
	.linkMidia .divCell {
		display: inline-block;
	}
	.tabsEdicaoDestaqueJT.ui-tabs .ui-tabs-nav li {
		max-width: 50%;
		white-space: normal;
		height: 3.5em;
	}
	.tabsEdicaoDestaqueJT.ui-tabs .ui-tabs-nav li a {
		display: inline-block;
	}
}

.botaoEscondeFiltro img, .botaoMostraFiltro img {
	position: absolute;
	right: 0;
}

@media ( max-width : 480px) {
	.divTabela, .divLinha, .divCell, .clsInformativoLabel {
		display: block;
	}
	.div_iconesJuris .btn-redondo-P {
		width: 90%;
		left: 5%;
	}
	.juris-pesquisa h2 {
		font-size: 1.5em;
	}
	.div_pesqJuris .wrapHint i {
		display: none;
	}
}
/*
.clsBanner {
	background-color: red;
	width: 518px;
}
@media (min-width: 576px) { 
	.clsBanner {
		background-color: blue;
	}
}
@media (min-width: 768px) { 
	.clsBanner {
		background-color: green;
	}
}

@media (min-width: 992px) {
	.clsBanner {
		background-color: pink;
	}
}

@media (min-width: 1200px) {
	.clsBanner {
		background-color: purple;
	}
}
@media (min-width: 1400px) {
	.clsBanner {
		background-color: yellow;
	}
}
*/